[
    {
        "type": "redmine",
        "name": "Local Redmine",
        "url": "http://localhost:3000",
        "token": "xxxxxxxxxxxx"
    },
    {
        "type": "redmine",
        "name": "Ohter Redmine",
        "url": "http://xxxxxxxx/redmine",
        "token": "xxxxxxxxxxxx"
    },
    {
        "type": "gitlab",
        "name": "Gitlab",
        "url": "https://gitlab.com",
        "token": "xxxxxxxxxxx"
    }
]