[
    {
        "type": "redmine",
        "name": "Local Redmine",
        "url": "http://localhost:3001",
        "token": "xxxxxxxxxxxx"
    },
    {
        "type": "gitlab",
        "name": "Gitlab",
        "url": "https://gitlab.com",
        "token": "xxxxxxxxxxx",
        "userid": 1000
    }
]